#contato{
    background-image: url(https://cdn.pixabay.com/photo/2017/07/01/19/47/background-2462426_1280.jpg);
    padding-bottom: 50px;
}

#form-contato{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    margin: 0 auto;
    padding: 50px;
}

#apresentacao-form{
    /* background-color: rebeccapurple; */
}

#txt-form{
    font-size: 4em;
    color: white;
    text-shadow: 3px 3px 2px black;
    font-family: 'Kanit', sans-serif;
}

#destaque-atendimento{
    text-decoration: underline;
    -webkit-text-stroke: 0.5px rebeccapurple;
    color: goldenrod;
}

#icones{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 30%;
    padding: 10px;
}
.icone-redes{
    height: 50px;
}
.icone-redes:hover{
    transition: 0.2s;
    height: 55px;
}

#formulario{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: black;
    border: 5px groove rebeccapurple;
    border-style: groove;
    border-radius: 10px;
    padding: 15px;
}

.lbl{
    font-family: 'Share Tech', sans-serif;
    color: white;
    font-size: 24px;
}

.inp, #txt-area-form{
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    height: auto;
    width: 60%;
    text-align: left;
    font-weight: bold;
}

#txt-area-form{
    min-height: 130px;
    height: 160px;
    max-height: 180px;
}

.inp:focus, #txt-area-form:focus{
    transition: 0.3s;
    background-color: white;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 10px grey;
}

#btn-enviar{
    background-color: seagreen;
    color: white;
    height: 40px;
    width: 30%;
    border-radius: 20px;
}